<div class="container">

  <div class="card mt-5">
    <h5 class="card-header">Detail Pengajuan</h5>
    <div class="card-body">
      <div class="col-lg-12 row">
        <div class="col-lg-4 mt-2">No. Pengajuan :</div>
        <div class="col-lg-8 mt-2">{{detailPengajuan.noPengajuan}}</div>
        <div class="col-lg-4 mt-2">Kegiatan :</div>
        <div class="col-lg-8 mt-2">{{detailPengajuan.kegiatan}}</div>
        <div class="col-lg-4 mt-2">Keterangan :</div>
        <div class="col-lg-8 mt-2">{{detailPengajuan.keterangan}}</div>
        <div class="col-lg-4 mt-2">Divisi :</div>
        <div class="col-lg-8 mt-2">{{detailPengajuan.divisi}}</div>
        <div class="col-lg-4 mt-2">Tanggal :</div>
        <div class="col-lg-8 mt-2">{{detailPengajuan.tanggalDibuat | date: 'YYYY-MM-dd HH:mm:ss'}}</div>
        <div class="col-lg-4 mt-2">Status :</div>
        <div class="col-lg-8 mt-2">
          <span class="badge badge-secondary" *ngIf="detailPengajuan.status=='SUB'">Pengajuan dikirim</span>
          <span class="badge badge-primary" *ngIf="detailPengajuan.status=='APPROVED_BENDAHARA'">disetujui bendahara</span>
          <span class="badge badge-success" *ngIf="detailPengajuan.status=='APPROVED'">Pengajuan selesai</span>
          <span class="badge badge-danger" *ngIf="detailPengajuan.status=='REJECT'">Pengajuan ditolak</span>
        </div>

        <div class="col-lg-4 mt-2">Jumlah :</div>
        <div class="col-lg-8 mt-2">Rp. {{detailPengajuan.jumlah | number : '1.0-2'}}</div>

        <div class="col-lg-4 mt-2">Items :</div>
        <div class="col-lg-8 mt-2">
          <table class="table table-borderless ">
            <thead>
            <tr  scope="row">
              <td>Item</td>
              <td>Harga</td>
              <td>Qty</td>
              <td>Total</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of detailPengajuan.items"  scope="row">
              <td>{{item.nama}}</td>
              <td>Rp. {{item.harga | number : '1.0-2'}}</td>
              <td>{{item.qty}}</td>
              <td>Rp. {{item.total | number : '1.0-2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


</div>



<div class="container">

  <div class="container mb-5 lg-12">
    <h3 class="text-center mt-5 mb-5">Approval Pengajuan</h3>

    <form [formGroup]="historyPengajuan" (ngSubmit)="submit()"  #f="ngForm">

      <div class="row col-lg-12">

        <div class="col-lg-4"></div>

        <div class="col-lg-5">
          <div class="mb-3" *ngIf="!adminKepalaDivisi">
        <textarea matInput id="catatan" class="form-control" formControlName="catatan" placeholder="Keterangan" required="false"></textarea>
          </div>
          <div class="row col-lg-12">
            <div class="col-lg-4" *ngIf="!adminKepalaDivisi">
              <button type="button" class="btn-block btn-sm btn-secondary mr-3 mt-5" (click)="backToHome()">Kembali</button>
            </div>
            <div class="col-lg-4" *ngIf="!adminKepalaDivisi">
              <button type="submit" class="btn-block  btn-sm btn-danger mr-3 mt-5" (click)="setStatus('REJECT')">Tolak</button>
            </div>
            <div class="col-lg-12 row" *ngIf="adminKepalaDivisi">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" class="align-item-center" >
              <button type="submit" class="btn-block  btn-sm btn-success mr-3 mt-5"  (click)="setStatus('APPROVED')">Terima</button>
            </div>
            <div class="col-lg-4"></div>
            </div>

            <div class="col-lg-4" class="align-item-center" *ngIf="!adminKepalaDivisi" >
              <button type="submit" class="btn-block  btn-sm btn-success mr-3 mt-5"  (click)="setStatus('APPROVED')">Terima</button>
            </div>

          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </form>


  </div>

</div>
